In [145]:
import pandas as pd
import numpy as np
import re
tmp = pd.read_pickle('../Data/Interim/senators116.pkl')

In [134]:
representatives115 = np.loadtxt(
    "../Data/Raw/Tweets/representatives115.txt", dtype=int
)
representatives116 = np.loadtxt(
    "../Data/Raw/Tweets/representatives116.txt", dtype=int
)
senators115 = np.loadtxt("../Data/Raw/Tweets/senators115.txt", dtype=int)
senators116 = np.loadtxt("../Data/Raw/Tweets/senators116.txt", dtype=int)

In [146]:
tmp.shape

(129599, 10)

In [147]:
len(senators116)

697373

In [148]:
tmp.tail()

,user_id,user_name,id,created_at,text,retweet,retweet_count,favorite_count,in_reply_to_status_id,in_reply_to_user_id
129594,145292853,Gary Peters,1237120396257824768,2020-03-09 20:57:41,It's officially been more than a year since th...,False,11,20,NaN,NaN
129595,339822881,Senator McConnell Press,1236129331094720515,2020-03-07 03:19:33,McConnell: Kentucky to get at least $7 million...,False,7,14,NaN,NaN
129596,1080960924687704064,Senator Hawley Press Office,1238115878752960517,2020-03-12 14:53:23,U.S. senators seek to ban federal employees fr...,Reuters,58,0,NaN,NaN
129597,339822881,Senator McConnell Press,1237445578117824512,2020-03-10 18:29:51,".@KyTodayEditor reports: ""Kentucky will receiv...",False,3,9,NaN,NaN
129598,339822881,Senator McConnell Press,1237443549114896384,2020-03-10 18:21:47,via @TheSentinelEcho: @senatemajldr Mitch McCo...,False,1,6,NaN,NaN

In [126]:
len(senators115)

519210

Senators 115 (y)
Senators (116) (n)
representatives115 (n)
representatives116 (n)

In [35]:
tmp2 = tmp[tmp.duplicated()].reset_index(drop=True)

In [37]:
tmp2

Empty DataFrame
Columns: [user_id, user_name, id, created_at, text, retweet, retweet_count, favorite_count, in_reply_to_status_id, in_reply_to_user_id]
Index: []

In [36]:
vc = tmp['retweet'].value_counts()

In [29]:
vc[:50]

False              105903
RonWyden              873
SenateMajLdr          506
ChuckGrassley         489
SenateGOP             381
senatemajldr          368
senjudiciary          276
SenateDems            248
SenatorTomUdall       172
marcorubio            171
SenateAgGOP           156
SenTedCruz            154
realDonaldTrump       122
SenSchumer            115
ChrisCoons            111
SenateEnergy          102
thehill               100
WhiteHouse             95
SenFinance             89
dcexaminer             89
SenateCommerce         77
SenateFinance          71
CDCgov                 68
JimInhofe              64
SmallBizCmte           63
HawleyMO               63
SenatorSinema          61
MeetThePress           59
GregAbbott_TX          58
SenatorDurbin          55
nowthisnews            54
hughhewitt             54
VAChair                51
commercedems           51
SenRubioPress          51
SenJeffMerkley         49
brianschatz            48
ChrisMurphyCT          47
TeamWarren             46
SBAList                44
CECCgov                44
SenJackyRosen          42
SenSherrodBrown        41
cspan                  41
GovernorLittle         40
HSGAC                  39
JoeBiden               39
SecPompeo              39
MartinHeinrich         39
SenatorRomney          39
Name: retweet, dtype: int64

In [30]:
int(tmp2.head()['id'][0])

938073921647194112

In [31]:
tmp2.head()['text'][0]

'RT @POLITICOLive: Does Capitol Hill’s tribalism make it harder to address sexual harassment/assault? @RepSpeier: “I think it does”'

In [ ]:
 938073921647194112

In [90]:
for t in api.statuses_lookup(id_=[1327046268032405504], tweet_mode="extended"):

    try:
        full_text = t.retweeted_status.full_text
        retweet = re.findall(r'^RT @([^:]+):', t.full_text)[0]
    except AttributeError:  # Not a Retweet
        full_text = t.full_text
        retweet = False

    response = [
            (
                t.user.id,
                t.user.name,
                t.id,
                t.created_at,
                full_text,
                retweet,
                t.retweet_count,
                t.favorite_count,
                t.in_reply_to_status_id,
                t.in_reply_to_user_id,
            )
    ]

In [93]:
hasattr(t, 'retweeted_status')

False

In [84]:
t.full_text

'RT @POLITICOLive: Does Capitol Hill’s tribalism make it harder to address sexual harassment/assault? @RepSpeier: “I think it does”\r #WomenR…'

In [74]:
t.full_text

'RT @POLITICOLive: Does Capitol Hill’s tribalism make it harder to address sexual harassment/assault? @RepSpeier: “I think it does”\r #WomenR…'

In [75]:
response

[(24913074,
  'Jackie Speier',
  938073921647194112,
  datetime.datetime(2017, 12, 5, 15, 53, 46),
  'Does Capitol Hill’s tribalism make it harder to address sexual harassment/assault? @RepSpeier: “I think it does”\r #WomenRule https://t.co/OMF822ynXN',
  True,
  17,
  0,
  None,
  None)]

In [94]:
import itertools

In [98]:
tmp = itertools.combinations(['a', 'b', 'c', 'd'], 2)

In [101]:
list(tmp)

[('a', 'b'), ('a', 'c'), ('a', 'd'), ('b', 'c'), ('b', 'd'), ('c', 'd')]

In [105]:
tweets_congres = pd.DataFrame(
    columns=[
        "user_id",
        "user_name",
        "id",
        "created_at",
        "text",
        "retweet",
        "retweet_count",
        "favorite_count",
        "in_reply_to_status_id",
        "in_reply_to_user_id",
    ],
)

In [106]:
tweets_congres.append(response)

,0,1,2,3,4,5,6,7,8,9,created_at,favorite_count,id,in_reply_to_status_id,in_reply_to_user_id,retweet,retweet_count,text,user_id,user_name
0,24913074.0,Jackie Speier,1.327046e+18,2020-11-13 00:31:00,The U.S. must reengage w/the Minsk Group to en...,False,153.0,320.0,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN