In [7]:
import pandas as pd
import numpy as np
import re
tmp = pd.read_pickle('../Data/Interim/representatives115.pkl')

In [8]:
representatives115 = np.loadtxt(
    "../Data/Raw/Tweets/representatives115.txt", dtype=int
)
representatives116 = np.loadtxt(
    "../Data/Raw/Tweets/representatives116.txt", dtype=int
)
senators115 = np.loadtxt("../Data/Raw/Tweets/senators115.txt", dtype=int)
senators116 = np.loadtxt("../Data/Raw/Tweets/senators116.txt", dtype=int)

In [9]:
senators116[-1]

1227986274633625601

In [14]:
tmp = tmp.sort_values(by="created_at").reset_index(drop=True)

In [18]:
tmp.iloc[10000:10200]

,user_id,user_name,id,created_at,text,retweet,retweet_count,favorite_count,in_reply_to_status_id,in_reply_to_user_id
10000,92186819,Senator Mazie Hirono,176757920569106432,2012-03-05 19:55:46,DC-Don’t forget about FREE #health care servic...,False,1,0,NaN,NaN
10001,235217558,Cory Gardner,176766788208562177,2012-03-05 20:31:01,Introducing a bill 2day that will link a drawd...,False,0,0,NaN,NaN
10002,225921757,Sen. James Lankford,176769273908310016,2012-03-05 20:40:53,I'm at the 2012 @AIPAC Policy Conference this ...,False,1,0,NaN,NaN
10003,88784440,Mike Lee,176785017979142144,2012-03-05 21:43:27,My latest email newsletter has just been sent....,False,2,1,NaN,NaN
10004,221162525,Senator Pat Toomey,176786273510490112,2012-03-05 21:48:26,Thank you to the Port family for hosting an in...,False,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
10195,92186819,Senator Mazie Hirono,178948767519752192,2012-03-11 21:01:25,"""We join w/ our friends in Japan in remembranc...",False,1,0,NaN,NaN
10196,18061669,Sen. Lisa Murkowski,178958617955930112,2012-03-11 21:40:34,#Alaska Seafood Marketing Institute is also he...,False,0,1,NaN,NaN
10197,92186819,Senator Mazie Hirono,178962638703820800,2012-03-11 21:56:32,Congresswoman Hirono Statement on the One Year...,False,3,1,NaN,NaN
10198,18632666,Senator Jerry Moran,178984404176216064,2012-03-11 23:23:01,"""If we are going to have a bright future as a ...",SteveCase,42,0,NaN,NaN
10199,18061669,Sen. Lisa Murkowski,179002527004622848,2012-03-12 00:35:02,I am shocked & disturbed by reports that a U.S...,False,3,0,NaN,NaN

In [126]:
len(senators115)

519210

Senators 115 (y)
Senators (116) (n)
representatives115 (n)
representatives116 (n)

In [35]:
tmp2 = tmp[tmp.duplicated()].reset_index(drop=True)

In [37]:
tmp2

Empty DataFrame
Columns: [user_id, user_name, id, created_at, text, retweet, retweet_count, favorite_count, in_reply_to_status_id, in_reply_to_user_id]
Index: []

In [36]:
vc = tmp['retweet'].value_counts()

In [29]:
vc[:50]

False              105903
RonWyden              873
SenateMajLdr          506
ChuckGrassley         489
SenateGOP             381
senatemajldr          368
senjudiciary          276
SenateDems            248
SenatorTomUdall       172
marcorubio            171
SenateAgGOP           156
SenTedCruz            154
realDonaldTrump       122
SenSchumer            115
ChrisCoons            111
SenateEnergy          102
thehill               100
WhiteHouse             95
SenFinance             89
dcexaminer             89
SenateCommerce         77
SenateFinance          71
CDCgov                 68
JimInhofe              64
SmallBizCmte           63
HawleyMO               63
SenatorSinema          61
MeetThePress           59
GregAbbott_TX          58
SenatorDurbin          55
nowthisnews            54
hughhewitt             54
VAChair                51
commercedems           51
SenRubioPress          51
SenJeffMerkley         49
brianschatz            48
ChrisMurphyCT          47
TeamWarren             46
SBAList                44
CECCgov                44
SenJackyRosen          42
SenSherrodBrown        41
cspan                  41
GovernorLittle         40
HSGAC                  39
JoeBiden               39
SecPompeo              39
MartinHeinrich         39
SenatorRomney          39
Name: retweet, dtype: int64

In [30]:
int(tmp2.head()['id'][0])

938073921647194112

In [31]:
tmp2.head()['text'][0]

'RT @POLITICOLive: Does Capitol Hill’s tribalism make it harder to address sexual harassment/assault? @RepSpeier: “I think it does”'

In [ ]:
 938073921647194112

In [90]:
for t in api.statuses_lookup(id_=[1327046268032405504], tweet_mode="extended"):

    try:
        full_text = t.retweeted_status.full_text
        retweet = re.findall(r'^RT @([^:]+):', t.full_text)[0]
    except AttributeError:  # Not a Retweet
        full_text = t.full_text
        retweet = False

    response = [
            (
                t.user.id,
                t.user.name,
                t.id,
                t.created_at,
                full_text,
                retweet,
                t.retweet_count,
                t.favorite_count,
                t.in_reply_to_status_id,
                t.in_reply_to_user_id,
            )
    ]

In [93]:
hasattr(t, 'retweeted_status')

False

In [84]:
t.full_text

'RT @POLITICOLive: Does Capitol Hill’s tribalism make it harder to address sexual harassment/assault? @RepSpeier: “I think it does”\r #WomenR…'

In [74]:
t.full_text

'RT @POLITICOLive: Does Capitol Hill’s tribalism make it harder to address sexual harassment/assault? @RepSpeier: “I think it does”\r #WomenR…'

In [75]:
response

[(24913074,
  'Jackie Speier',
  938073921647194112,
  datetime.datetime(2017, 12, 5, 15, 53, 46),
  'Does Capitol Hill’s tribalism make it harder to address sexual harassment/assault? @RepSpeier: “I think it does”\r #WomenRule https://t.co/OMF822ynXN',
  True,
  17,
  0,
  None,
  None)]

In [94]:
import itertools

In [98]:
tmp = itertools.combinations(['a', 'b', 'c', 'd'], 2)

In [101]:
list(tmp)

[('a', 'b'), ('a', 'c'), ('a', 'd'), ('b', 'c'), ('b', 'd'), ('c', 'd')]

In [105]:
tweets_congres = pd.DataFrame(
    columns=[
        "user_id",
        "user_name",
        "id",
        "created_at",
        "text",
        "retweet",
        "retweet_count",
        "favorite_count",
        "in_reply_to_status_id",
        "in_reply_to_user_id",
    ],
)

In [106]:
tweets_congres.append(response)

,0,1,2,3,4,5,6,7,8,9,created_at,favorite_count,id,in_reply_to_status_id,in_reply_to_user_id,retweet,retweet_count,text,user_id,user_name
0,24913074.0,Jackie Speier,1.327046e+18,2020-11-13 00:31:00,The U.S. must reengage w/the Minsk Group to en...,False,153.0,320.0,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN