In [1]:
import pandas as pd

In [2]:
medias = pd.read_table('../Data/Raw/LargestMedia.csv', sep=';')

In [3]:
medias

                      Media               Type   Twitter name
0                  ABC News         Television            ABC
1                  CBS News  Television, radio        CBSNews
2                       CNN         Television            CNN
3                  Fox News         Television        FoxNews
4                     MSNBC         Television          MSNBC
5                  NBC News         Television        NBCNews
6                 Bloomberg             Online       business
7        The New York Times          Newspaper        nytimes
8        USA Today Politics          Newspaper     usatodayDC
9            Breitbart News             Online  BreitbartNews
10                     TIME             Online           TIME
11                 The Hill             Online        thehill
12                 POLITICO             Online       politico
13  The Wall Street Journal          Newspaper            WSJ
14            The Economist          Newspaper   TheEconomist
15                 HuffPost             Online       HuffPost