In [89]:
import pandas as pd

In [108]:
trump_tweets_1st = pd.read_table('../Data/Raw/Tweets/trump_tweets_1st.csv', sep=',')
trump_tweets_2nd = pd.read_table('../Data/Raw/Tweets/trump_tweets_2nd.csv', sep=',')

In [109]:
trump_tweets_1st

,source,text,created_at,favorite_count,id_str
0,Twitter for iPhone,Washington Examiner - '93MAGA list: 205 '91his...,01-01-2019 22:51:12,77877.0,1080235018310635521
1,Twitter for iPhone,Gas prices are low and expected to go down thi...,01-01-2019 22:44:03,201811.0,1080233215615557632
2,Twitter for iPhone,Border Security and the Wall '93thing'94 and S...,01-01-2019 19:02:36,104220.0,1080177487517233157
3,Twitter for iPhone,Congratulations to President @JairBolsonaro wh...,01-01-2019 18:12:08,265614.0,1080164786330132480
4,Twitter for iPhone,One thing has now been proven. The Democrats d...,01-01-2019 15:51:09,119139.0,1080129307446513666
...,...,...,...,...,...
6553,Twitter for iPhone,The #MarchForLife is so important. To all of y...,01-27-2017 16:27:02,184954.0,825017279209410561
6554,Twitter for Android,Mexico has taken advantage of the U.S. for lon...,01-27-2017 13:19:10,160660.0,824970003153842176
6555,Twitter for Android,Look forward to seeing final results of VoteSt...,01-27-2017 13:12:52,88640.0,824968416486387713
6556,Twitter for iPhone,Miami-Dade Mayor drops sanctuary policy. Right...,01-26-2017 23:53:37,112620.0,824767281146245120
6557,Twitter for iPhone,Will be interviewed by @SeanHannity on @FoxNew...,01-26-2017 23:45:28,73559.0,824765229527605248}

In [99]:
trump_tweets_1st['id_str']

0       1080235018310635521
1       1080233215615557632
2       1080177487517233157
3       1080164786330132480
4       1080129307446513666
               ...
6553     825017279209410561
6554     824970003153842176
6555     824968416486387713
6556     824767281146245120
6557    824765229527605248}
Name: id_str, Length: 6558, dtype: object

In [110]:
trump_tweets_2nd

,source,text,created_at,favorite_count,id_str
0,Twitter for iPhone,https://t.co/lZYGaD72Og,05-06-2020 20:41:23,76994.0,1258134788294270977
1,Twitter for iPhone,"RT @WhiteHouse: ""The partnership and collabora...",05-06-2020 20:32:09,0.0,1258132467661320194
2,Twitter for iPhone,RT @WhiteHouse: Just now President @realDonald...,05-06-2020 18:55:26,0.0,1258108127959973900
3,Twitter for iPhone,The Fake News has reached an all time high!,05-06-2020 15:16:53,323915.0,1258053124893347841
4,Twitter for iPhone,RT @Jim_Jordan: The Senate is back in session....,05-06-2020 14:30:45,0.0,1258041515630301186
...,...,...,...,...,...
13437,Twitter for iPhone,We are not even into February and the cost of ...,01-27-2019 13:44:39,149233.0,1089519559126802432
13438,Twitter for iPhone,58000 non-citizens voted in Texas with 95000 n...,01-27-2019 13:22:19,141534.0,1089513936435716096
13439,Twitter for iPhone,WITCH HUNT!,01-27-2019 01:51:57,130376.0,1089340201204441088
13440,Twitter for iPhone,....about all of the one sided Fake Media cove...,01-27-2019 01:49:53,104578.0,1089339681941147648
13441,Twitter for iPhone,CBS reports that in the Roger Stone indictment...,01-27-2019 01:39:07,128265.0,1089336969417625601}